@import '_configuration.scss';
@import '_grid.scss';

// Required CSS settings
html {
    box-sizing: border-box;
    font-size: 10px;
    img { -ms-interpolation-mode: bicubic; }
}
*, *:before, *:after { box-sizing: inherit; }

// Generates media queries which change the definition of 1em depending on window size.
// A logarithm is used to hinder 1em to be either too large or too small.
// Paddings increase/decrease more than font-size as lots of space is nice on larger screens.
@for $i from 64 through 512 {
    @media (min-width: 0px + $i * 5px) {
        body { font-size: logarithm($i) * logarithm($i / 0.1) * 0.023em; }
        @if $i < 150 { $i: 150 }
        @if $i > 400 { $i: 400 }
        @include loop-injection($i)
    }
}